<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list app</title>
</head>

<body>
    <h1>SKS TODO LIST</h1>
    <form action="/todolist" method="post">
        <input type="text" name="task">
        <button type="submit">ADD</button>
    </form>

    <!-- list all the items in list -->
    <ul id="test">
        <% data.forEach(function(item){ %>
        <li><%=item.task %></li>     
        <%}); %>
    </ul>

    <script src="/scripts/deleteItem.js"></script>
</body>

</html>